{% extends 'base.html' %}

{% block title %}Join{% endblock %}

{% block content %}
<div class="col s12 m12 l6">
    <div class="card grey lighten-5">
        <div class="card-content">
            <div class="card-image">
              <img src="/static/assets/img/members_flat.jpg">
              <span class="card-title">Join Form<i class="material-icons left" style="">perm_identity</i></span>
            </div>
            <br/>
            <form method="post" action="{% url 'create_member' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="input-field">
                        <input id="first_name" maxlength="254" name="first_name" class="validate" type="text" required />
                        <label for="first_name">First Name</label>
                    </td>

                    <td class="input-field">
                        <input id="last_name" maxlength="254" name="last_name" class="validate" type="text" required />
                        <label for="last_name">Last Name</label>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <input id="password" maxlength="25" name="password" class="validate" type="password" required/>
                        <label for="password">Password</label>
                    </td>

                    <td class="input-field">
                        <input id="password-confirm" maxlength="25" name="password-confirm" class="validate" type="password" required/>
                        <label for="password-confirm">Password Confirmation</label>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <input id="email" maxlength="254" name="email" class="validate" type="email" required/>
                        <label for="email">E-mail Address</label>
                    </td>

                    <td class="input-field">
                        <input id="phone_nr" maxlength="15" name="phone_nr" class="validate" type="text" required/>
                        <label for="phone_nr">Phone Number</label>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <select id="gender" name="gender" class="validate" type="text" required>
                          <option value="" selected disabled></option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">I'd rather not say</option>
                        </select>

                        <label for="gender">Gender</label>
                    </td>

                    <td class="input-field">

                        <select id="nationality" name="nationality" class="validate" type="text" required>
                          <option value="" selected disabled></option>
                          <option value="Afghan">Afghan</option><option value="Albanian">Albanian</option><option value="Algerian">Algerian</option><option value="American">American</option><option value="Andorran">Andorran</option><option value="Angolan">Angolan</option><option value="Antiguans">Antiguans</option><option value="Argentinean">Argentinean</option><option value="Armenian">Armenian</option><option value="Australian">Australian</option><option value="Austrian">Austrian</option><option value="Azerbaijani">Azerbaijani</option><option value="Bahamian">Bahamian</option><option value="Bahraini">Bahraini</option><option value="Bangladeshi">Bangladeshi</option><option value="Barbadian">Barbadian</option><option value="Barbudans">Barbudans</option><option value="Batswana">Batswana</option><option value="Belarusian">Belarusian</option><option value="Belgian">Belgian</option><option value="Belizean">Belizean</option><option value="Beninese">Beninese</option><option value="Bhutanese">Bhutanese</option><option value="Bolivian">Bolivian</option><option value="Bosnian">Bosnian</option><option value="Brazilian">Brazilian</option><option value="British">British</option><option value="Bruneian">Bruneian</option><option value="Bulgarian">Bulgarian</option><option value="Burkinabe">Burkinabe</option><option value="Burmese">Burmese</option><option value="Burundian">Burundian</option><option value="Cambodian">Cambodian</option><option value="Cameroonian">Cameroonian</option><option value="Canadian">Canadian</option><option value="Cape Verdean">Cape Verdean</option><option value="Central African">Central African</option><option value="Chadian">Chadian</option><option value="Chilean">Chilean</option><option value="Chinese">Chinese</option><option value="Colombian">Colombian</option><option value="Comoran">Comoran</option><option value="Congolese">Congolese</option><option value="Costa Rican">Costa Rican</option><option value="Croatian">Croatian</option><option value="Cuban">Cuban</option><option value="Cypriot">Cypriot</option><option value="Czech">Czech</option><option value="Danish">Danish</option><option value="Djibouti">Djibouti</option><option value="Dominican">Dominican</option><option value="Dutch">Dutch</option><option value="East Timorese">East Timorese</option><option value="Ecuadorean">Ecuadorean</option><option value="Egyptian">Egyptian</option><option value="Emirian">Emirian</option><option value="Equatorial Guinean">Equatorial Guinean</option><option value="Eritrean">Eritrean</option><option value="Estonian">Estonian</option><option value="Ethiopian">Ethiopian</option><option value="Fijian">Fijian</option><option value="Filipino">Filipino</option><option value="Finnish">Finnish</option><option value="French">French</option><option value="Gabonese">Gabonese</option><option value="Gambian">Gambian</option><option value="Georgian">Georgian</option><option value="German">German</option><option value="Ghanaian">Ghanaian</option><option value="Greek">Greek</option><option value="Grenadian">Grenadian</option><option value="Guatemalan">Guatemalan</option><option value="Guinea-Bissauan">Guinea-Bissauan</option><option value="Guinean">Guinean</option><option value="Guyanese">Guyanese</option><option value="Haitian">Haitian</option><option value="Herzegovinian">Herzegovinian</option><option value="Honduran">Honduran</option><option value="Hungarian">Hungarian</option><option value="Icelander">Icelander</option><option value="Indian">Indian</option><option value="Indonesian">Indonesian</option><option value="Iranian">Iranian</option><option value="Iraqi">Iraqi</option><option value="Irish">Irish</option><option value="Israeli">Israeli</option><option value="Italian">Italian</option><option value="Ivorian">Ivorian</option><option value="Jamaican">Jamaican</option><option value="Japanese">Japanese</option><option value="Jordanian">Jordanian</option><option value="Kazakhstani">Kazakhstani</option><option value="Kenyan">Kenyan</option><option value="Kittian and Nevisian">Kittian and Nevisian</option><option value="Kuwaiti">Kuwaiti</option><option value="Kyrgyz">Kyrgyz</option><option value="Laotian">Laotian</option><option value="Latvian">Latvian</option><option value="Lebanese">Lebanese</option><option value="Liberian">Liberian</option><option value="Libyan">Libyan</option><option value="Liechtensteiner">Liechtensteiner</option><option value="Lithuanian">Lithuanian</option><option value="Luxembourger">Luxembourger</option><option value="Macedonian">Macedonian</option><option value="Malagasy">Malagasy</option><option value="Malawian">Malawian</option><option value="Malaysian">Malaysian</option><option value="Maldivan">Maldivan</option><option value="Malian">Malian</option><option value="Maltese">Maltese</option><option value="Marshallese">Marshallese</option><option value="Mauritanian">Mauritanian</option><option value="Mauritian">Mauritian</option><option value="Mexican">Mexican</option><option value="Micronesian">Micronesian</option><option value="Moldovan">Moldovan</option><option value="Monacan">Monacan</option><option value="Mongolian">Mongolian</option><option value="Moroccan">Moroccan</option><option value="Mosotho">Mosotho</option><option value="Motswana">Motswana</option><option value="Mozambican">Mozambican</option><option value="Namibian">Namibian</option><option value="Nauruan">Nauruan</option><option value="Nepalese">Nepalese</option><option value="New Zealander">New Zealander</option><option value="Ni-Vanuatu">Ni-Vanuatu</option><option value="Nicaraguan">Nicaraguan</option><option value="Nigerien">Nigerien</option><option value="North Korean">North Korean</option><option value="Northern Irish">Northern Irish</option><option value="Norwegian">Norwegian</option><option value="Omani">Omani</option><option value="Pakistani">Pakistani</option><option value="Palauan">Palauan</option><option value="Panamanian">Panamanian</option><option value="Papua New Guinean">Papua New Guinean</option><option value="Paraguayan">Paraguayan</option><option value="Peruvian">Peruvian</option><option value="Polish">Polish</option><option value="Portuguese">Portuguese</option><option value="Qatari">Qatari</option><option value="Romanian">Romanian</option><option value="Russian">Russian</option><option value="Rwandan">Rwandan</option><option value="Saint Lucian">Saint Lucian</option><option value="Salvadoran">Salvadoran</option><option value="Samoan">Samoan</option><option value="San Marinese">San Marinese</option><option value="Sao Tomean">Sao Tomean</option><option value="Saudi">Saudi</option><option value="Scottish">Scottish</option><option value="Senegalese">Senegalese</option><option value="Serbian">Serbian</option><option value="Seychellois">Seychellois</option><option value="Sierra Leonean">Sierra Leonean</option><option value="Singaporean">Singaporean</option><option value="Slovakian">Slovakian</option><option value="Slovenian">Slovenian</option><option value="Solomon Islander">Solomon Islander</option><option value="Somali">Somali</option><option value="South African">South African</option><option value="South Korean">South Korean</option><option value="Spanish">Spanish</option><option value="Sri Lankan">Sri Lankan</option><option value="Sudanese">Sudanese</option><option value="Surinamer">Surinamer</option><option value="Swazi">Swazi</option><option value="Swedish">Swedish</option><option value="Swiss">Swiss</option><option value="Syrian">Syrian</option><option value="Taiwanese">Taiwanese</option><option value="Tajik">Tajik</option><option value="Tanzanian">Tanzanian</option><option value="Thai">Thai</option><option value="Togolese">Togolese</option><option value="Tongan">Tongan</option><option value="Trinidadian or Tobagonian">Trinidadian or Tobagonian</option><option value="Tunisian">Tunisian</option><option value="Turkish">Turkish</option><option value="Tuvaluan">Tuvaluan</option><option value="Ugandan">Ugandan</option><option value="Ukrainian">Ukrainian</option><option value="Uruguayan">Uruguayan</option><option value="Uzbekistani">Uzbekistani</option><option value="Venezuelan">Venezuelan</option><option value="Vietnamese">Vietnamese</option><option value="Welsh">Welsh</option><option value="Yemenite">Yemenite</option><option value="Zambian">Zambian</option><option value="Zimbabwean">Zimbabwean</option>
                        </select>

                        <label for="nationality">Nationality</label>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">

                        <select id="department" name="department" class="validate" type="text" required>
                          <option value="" selected disabled></option>

                          <option value="Mathematics and Computer Science">Mathematics and Computer Science</option>
                          <option value="Psychology and Technology">Psychology and Technology</option>
                          <option value="Sustainable Innovation">Sustainable Innovation</option>
                          <option value="Industrial Design">Industrial Design</option>
                          <option value="Physics">Physics</option>
                          <option value="Biomedical Engineering">Biomedical Engineering</option>
                          <option value="Chemical Engineering">Chemical Engineering</option>
                          <option value="Industrial Engineering">Industrial Engineering</option>
                          <option value="Mechanical Engineering">Mechanical Engineering</option>
                          <option value="Electrical Engineering">Electrical Engineering</option>
                          <option value="Built Environment">Built Environment</option>
                        </select>

                        <label for="department">Department</label>
                    </td>

                    <td class="input-field">

                        <select id="program" name="program" class="validate" type="text" required>
                            <option value="" selected disabled></option>
                           <option value="Bachelor">Bachelor</option><option value="Master">Master</option><option value="PDEng">PDEng</option><option value="PHD">PHD</option><option value="Exchange">Exchange</option><option value="Other">Other</option>

                        </select>

                        <label for="program">Program</label>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <input id="tue_id" maxlength="254" name="tue_id" class="validate" type="text" required/>
                        <label for="tue_id">TU/e Number</label>
                    </td>

                    <td class="input-field">
                        <input id="card_number" maxlength="254" name="card_number" class="validate" type="text" required/>
                        <label for="card_number">Campus Card Number</label>
                    </td>
                </tr>
            </table>

                <button class="btn light-blue darken-4 waves-effect waves-light" type="submit" value="login" name="action">Join
                    <i class="material-icons right">send</i>
                </button>

                <input type="hidden" name="next" value="/" />
            </form>


        </div>
    </div>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <h4 id="modal-title"></h4>
        <p id="modal-message"></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="modal-ok-button"></a>
    </div>
</div>
<!-- TODO: MAKE NOT SKETCHY -->
<script type="text/javascript">
    $(document).ready(function(){
      $('.modal').modal();
      var joined = getParameterByName('joined');
      if (joined == 'true') {
        $('#modal-title').text('Welcome!');
        $('#modal-message').text('Your account has been created successfully, your information will be validated as soon as possible by our board members. As soon as your information is verified, you will receive an e-mail from us.');
        $('#modal-ok-button').text('Continue');
        $('#modal').modal('open');
      } else if (joined == 'false') {
        var error = getParameterByName('error');
        $('#modal-title').text('There was a problem...');
        $('#modal-ok-button').text('Ok');
        if(error == 'email-exists'){
            $('#modal-message').text('There is already a user with this email in our system, please try with a different one.');
            $('#modal').modal('open');
        } else if (error == 'password'){
            $('#modal-message').text('Your password and password confirmation do not match. Please make sure they are the same.');
            $('#modal').modal('open');
        }
      }
    });

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>
{% endblock %}
