{% load cms_tags cache %}


{% for main in children %}

	{% for child in main.children %}
		{% if child.children %}
			<ul id="{{ child.title }}-dropdown" class="dropdown-content">
			{% for nested_child in child.children %}
				<li><a href="{{ nested_child.get_absolute_url }}" class="blue-text text-darken-1">{{ nested_child.get_menu_title }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}

	<!-- Logged in ? -->
	{% if request.user.is_authenticated %}
	<ul id="profile-dropdown" class="dropdown-content">
		<li><a href="/profile/" class="blue-text text-darken-1">Profile</a></li>
		<li><a href="/logout/" class="blue-text text-darken-1">Logout</a></li>
	</ul>
	{% endif %}

{% endfor %}


<nav class="dark-blue-bg" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo"><img src="/static/assets/img/cosmos_white_horizontal.png" style="height: 60px;"></a>
		<ul class="right hide-on-med-and-down">
			{% for main in children %}
				{% for child in main.children %}
					{% if child.get_menu_title == "Join" and request.user.is_authenticated %}
					{% else %}
						{% if not request.user.is_authenticated and child.get_menu_title == "Members" %}

						{% else %}
							<li class="
							{% if child.selected %}
								active
							{% endif %}
							{% if child.ancestor %}
								ancestor
							{% endif %}
							{% if child.sibling %}
								sibling
							{% endif %}
							{% if child.descendant %}
								descendant
							{% endif %}">

								{% if child.children %}
									<a class="dropdown-button" data-beloworigin="true" href="{{ child.get_absolute_url }}" data-activates="{{ child.title }}-dropdown" >
											{{ child.get_menu_title }}
									 <i class="material-icons right">arrow_drop_down</i>
									</a>
								{% else %}
									<a href="{{ child.get_absolute_url }}">
									{% if child.get_menu_title == "Common Room" %}
										{{ child.get_menu_title }} <span>&nbsp; &#10003;</span>
									{% else %}
										{{ child.get_menu_title }}
									{% endif %}

									</a>
							    {% endif %}
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}


			{% endfor %}
			<!-- Logged in ? -->
			{% if request.user.is_authenticated %}
				<li style="background-color: rgba(0,0,0,0.05)">
					<a class="dropdown-button" data-beloworigin="true" href="#" data-activates="profile-dropdown" >
						 <i class="material-icons left" style="">perm_identity</i>{{ request.user.first_name }}
				   </a>
				</li>
			{% else %}
				<li style="background-color: rgba(0,0,0,0.05)">
					<a href="/login/">
						 Login
					</a>
				</li>
			{% endif %}
		</ul>
		<ul id="nav-mobile" class="side-nav">
			{% for main in children %}
				{% for child in main.children %}
					{% if child.get_menu_title == "Join" and request.user.is_authenticated %}
					{% else %}
						{% if not request.user.is_authenticated and child.get_menu_title == "Members" %}

						{% else %}
							<li class="
							{% if child.selected %}
								active
							{% endif %}
							{% if child.ancestor %}
								ancestor
							{% endif %}
							{% if child.sibling %}
								sibling
							{% endif %}
							{% if child.descendant %}
								descendant
							{% endif %}">

								{% if child.children %}
									<a class="dropdown-button" data-beloworigin="true" href="{{ child.get_absolute_url }}" data-activates="{{ child.title }}-mobile-dropdown" >
											{{ child.get_menu_title }}
									 <i class="material-icons right">arrow_drop_down</i>
									</a>
									<ul id="{{ child.title }}-mobile-dropdown" class="dropdown-content">
									{% for nested_child in child.children %}
										<li><a href="{{ nested_child.get_absolute_url }}">{{ nested_child.get_menu_title }}</a></li>
									{% endfor %}
									</ul>
								{% else %}
									<a href="{{ child.get_absolute_url }}">
									{% if child.get_menu_title == "Common Room" %}
										{{ child.get_menu_title }} <span>&nbsp; &#10003;</span>
									{% else %}
										{{ child.get_menu_title }}
									{% endif %}

									</a>
							    {% endif %}
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
			<!-- Logged in ? -->
			{% if request.user.is_authenticated %}
				<li style="background-color: rgba(0,0,0,0.05)">
					<a class="dropdown-button" data-beloworigin="true" href="#" data-activates="profile-mobile-dropdown" >
						 <i class="material-icons left" style="">perm_identity</i>{{ request.user.first_name }}
				   </a>
					<ul id="profile-mobile-dropdown" class="dropdown-content">
						<li><a href="/profile/">Profile</a></li>
						<li><a href="/logout/">Logout</a></li>
					</ul>
				</li>
			{% else %}
				<li style="background-color: rgba(0,0,0,0.05)">
					<a href="/login/">
						 Login
					</a>
				</li>
			{% endif %}
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse button-collapse-nav"><i class="material-icons">menu</i></a>
	</div>
</nav>
